SMART_KITCHEN/flows.json
[{"id":"ee04afc2.0865b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a53d5e7a.b6532","type":"ibmiot in","z":"ee04afc2.0865b","authentication":"apiKey","apiKey":"c5b98c8e.7f1ad","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":100,"wires":[["15761602.b8755a","9cb4d273.418ea","59b563a1.9610bc"]]},{"id":"15761602.b8755a","type":"function","z":"ee04afc2.0865b","name":"Jar Status","func":"global.set('jar_status',msg.payload.Jar_status)\nmsg.payload=msg.payload.Jar_status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":20,"wires":[["8025c633.614a08"]]},{"id":"9cb4d273.418ea","type":"function","z":"ee04afc2.0865b","name":"Cylinder weight","func":"global.set('weight',msg.payload.Cylinder_weight)\nmsg.payload=msg.payload.Cylinder_weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["8025c633.614a08"]]},{"id":"59b563a1.9610bc","type":"function","z":"ee04afc2.0865b","name":"Gas Status","func":"global.set('gas',msg.payload.Gas_status)\nmsg.payload=msg.payload.Gas_status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["8025c633.614a08"]]},{"id":"8025c633.614a08","type":"debug","z":"ee04afc2.0865b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"4411c5e6.d2265c","type":"http in","z":"ee04afc2.0865b","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["e5ea3b36.c42c58"]]},{"id":"7fac847.1d09a7c","type":"http response","z":"ee04afc2.0865b","name":"","statusCode":"","headers":{},"x":530,"y":280,"wires":[]},{"id":"e5ea3b36.c42c58","type":"function","z":"ee04afc2.0865b","name":"","func":"msg.payload={'jar_status':global.get(\"jar_status\"),'weight':global.get(\"weight\"),'gas':global.get(\"gas\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["7fac847.1d09a7c"]]},{"id":"b237a14d.8bb9a","type":"http in","z":"ee04afc2.0865b","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["7b128b4b.1337e4"]]},{"id":"d40b4986.b9e9e8","type":"http response","z":"ee04afc2.0865b","name":"","statusCode":"","headers":{},"x":530,"y":360,"wires":[]},{"id":"7b128b4b.1337e4","type":"function","z":"ee04afc2.0865b","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["d40b4986.b9e9e8","1ceb0ea2.fcc901","c10aaf11.fc32a"]]},{"id":"1ceb0ea2.fcc901","type":"debug","z":"ee04afc2.0865b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":420,"wires":[]},{"id":"c10aaf11.fc32a","type":"ibmiot out","z":"ee04afc2.0865b","authentication":"apiKey","apiKey":"c5b98c8e.7f1ad","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":520,"wires":[]},{"id":"c5b98c8e.7f1ad","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]